
body{
    background-color: rgb(214, 167, 186);
}
.list{
    list-style: none;
    background-color: aqua;
    padding: 5px;
    text-align: center;
    font-size: medium;
    
}

.list li{
    display: inline-block;
    margin:10px;
    justify-content:space-evenly;
    
}


.list li a{
    text-decoration: none;
   
} 

.list li a:hover{
    color: black;
}

.content{
    background-image: url(image.png);
    background-size: cover;
    display: flex;
    color: azure;
    height: 300px;
    font-size: larger;
}

.Events{
     display: flex;
     text-align: center;
     padding: 20px;
     justify-content: space-evenly;
     gap:40px;
     background-color: bisque;
     background-size: cover;
     
     
}

.Image{
    margin: 10px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
   
}

img{
    object-fit: cover;
    height: max-content;
}


table{
    border-collapse: collapse;
    background-color: rgb(186, 208, 129);
    
}
th{
    background-color: antiquewhite;
    padding: 5px;
}
td{
    padding:5px;
}
tr:hover{
    color:rgb(134, 100, 219);
    
}
table td:hover{
    background-color: rgb(167, 167, 218);
}

.Registration{
    animation-name: changingname;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes changingname{
    from{transform: translateX(0px);}
    to{transform: translateY(30px);}}

footer{
    background-color: aquamarine;
    padding:10px;
}

.position{
    position: fixed;
    bottom:1px;
    right:20px;
    padding:10px;
    margin:1px;
}

/*Desktop*/
body{
    background-color: blueviolet;
}

/*Tablet*/
@media(min-width:768px){
    body{
        background-color: rgb(212, 207, 51);
    }
.list li{
    display: inline-block;
    margin:0 8px;
}
.Image{
        grid-template-columns: repeat(2, 1fr);
    }
.Events {
        flex-wrap: wrap;
        justify-content: center;
        
    }
}

/*Mobile*/
@media(min-width:1024px){
    body{
        background-color: rgb(59, 205, 191);
    }
    .list li{
        display:inline-block;
        margin: 0 15px;
    }

    
    .Image{
        grid-template-columns: repeat(3,1fr);
    }
}